<P id="greeting">Hi <span id="name"></span>, welcome to the game!</P>
<%= javascript_tag do %>
    $("body").attr("data-no-turbolink", "");
    <% if logged_in? %>
        var logged_in = true;
        $("#name").html("<%= current_user.name %>");
    <% else %>
        var logged_in = false;
        $("#name").html("there");
        $("#greeting").append("<br> In order to make your score recorded, please log in or sign up!");
    <% end %>
<% end %>