<% provide(:title, "Space Ship") %>
<%= javascript_include_tag 'spaceship' %> 
<h1>Space Ship</h1>

<div id="game">
	<%= render 'greeting' %>
	<canvas id="canvas" width="800" height="500" style="border: 1px solid black" tabindex="1"></canvas>
	<!--<%= link_to 'Show all records', memories_path %>-->
</div>