<% provide(:title, "Game_test") %>
<%= javascript_include_tag 'testing' %> 
<p>Image to use:</p>
<img src="/assets/double_ship.png" alt="The Scream">

<p>Canvas:</p>
<canvas id="myCanvas" width="240" height="297" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
</canvas>