<% provide(:title, "Game_test") %>
<%= javascript_include_tag params[:controller], params[:action] %> 
<div id="game">
    <p id="test1">This is a paragraph.</p>
    <p id="test2">This is another paragraph.</p>

    <p>Input field: <input type="text" id="test3" value="Mickey Mouse"></p>

    <button id="btn1" class="btn btn-primary">Set Text</button>
    <button id="btn2" class="btn btn-primary">Set HTML</button>
    <button id="btn3" class="btn btn-primary">Set Value</button>
</div>